/*     This stylesheet contains CSS styles common across all pages (homepage, Vox Populi, infographic) */

/* Variables for Colors, etc. */

:root {
    --dark-gray: #2C2C2C; /* For text */
    --green: #7E8A58;
    --divider-gray: #d7d7d7;
}

/* Default Styles and Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

    color: var(--dark-gray);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url('../assets/all-pages/white-texture-bg.png');
    background-size: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.container {
    padding-right: calc(var(--bs-gutter-x) * .9);
    padding-left: calc(var(--bs-gutter-x) * .9);
}

/* Buttons */

.button {
    font-size: .9em;
    font-weight: bold;

    display: block;

    padding: .3rem 1rem;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid;
    background: none;
}

.button-white {
    color: white;
    border-color: white;
}

.button-dark {
    color: var(--dark-gray);
    border-color: var(--dark-gray);
}

@media only screen and (max-width: 470px) {
    .button {
        font-size: .7em;
    }
}

.color-burn-drop-shadow::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: .35rem;
    right: .35rem;
    width: 100%;
    background-color: #5d5e5a;
    z-index: -1;
    mix-blend-mode: color-burn;
}