/*     This stylesheet contains CSS styles specific to the homepage */

@import url('homepage-header.css');
@import url('homepage-articles.css'); /* Articles */


/* Tags */

.tag {
    display: block;
    font-weight: 700;
    padding: .3rem .6rem;
    margin-bottom: .8rem;
    background-color: var(--green);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: white;
    text-transform: uppercase;
    font-size: .75em;
    line-height: 1;
}

