 /*******************
    Header Wrapper    
*********************/

 /************
    Header    
**************/

header {
    width: 100%;
    height: 100vh;
    min-height: 800px;

    background-image: url('../assets/homepage/cover/cover-bg.png');
    background-size: cover;

    color: white;

    position: relative;
    
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Title and Buttons Wrapper */
header .title-btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

/* Title */
header .title {
    font-size: 3.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    line-height: 1;
}

/* Buttons Wrapper */
header .btns-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

header .button {
    font-weight: normal;
    font-size: .75em;
}

/* Art Wrapper */
header .art-wrapper {
    /* width: 100%; */
    border: 1px solid yellow;
    padding-bottom: 2rem;
}

header .art-landscape {
    height: 100%;
    background-image: url('../assets/homepage/cover/cover-art-landscape.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

header .art-portrait {
    display: none;
}

/************
    <= 1204px width    
**************/

@media screen and (max-width: 1204px) {
    /* Remove spacing below art */
    header .art-wrapper {
        padding-bottom: 0;
    }

    /* Art becomes static width */
    header .art-landscape {
        background-size: 1204px;
        background-position: center bottom;
    }

    header .art-wrapper {
        height: 620px;
    }

    header {
        grid-template-rows: 1fr auto;
    }

    header .title-btns-wrapper {
        padding-top: 0;
        justify-content: center;
    }

    header .title {
        margin-bottom: 2rem;
    }
}

/************
    <= 739px width    
**************/

@media screen and (max-width: 739px) {
    /* Art becomes static width */
    header .art-landscape {
        display: none;
    }

    /* Make portrait art visible */
    header .art-portrait {
        display: block;
        width: 100%;
    }

    header .art-wrapper {
        height: fit-content;
    }

    header {
        grid-template-rows: 1fr auto;
    }

    header .title {
        width: 50%;
        min-width: 200px;
    }
}