/*     This stylesheet contains CSS styles specific to the homepage */

/* Articles */
@import url('homepage-articles.css');

/* Header */

header {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    padding: 2.25rem 1rem;

    /* TODO: Replace with texture background-image, once available */
    background-color: #191B15;

    color: white;

    text-align: center;

    /* gap: 20px; */
}

.logo-wrapper,
.header-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Logo */

.header-logo {
    width: 160px;
}

/* Cover Art */

.cover-art-wrapper {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    margin: 30px 0;
}

.faux-cover-art-img {
    width: 100%;

    background-image: url('../../assets/homepage/cover/art-transparentbg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.cover-art-img {
    display: none;

    width: 100%;
    padding: 1.5rem 0.4rem;
}

/* On smaller screen,s cover is no longer full-screen height and the real img element is used */

@media only screen and (max-width: 1100px) {
    /* header {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .faux-cover-art-img {
        display: none;
    }

    .cover-art-img {
        display: block;
    } */
    
    .logo-wrapper {
        order: 2;
        margin-bottom: 3rem;
    }

    .header-text-title {
        order: 3;
        /* width: 40%; */
        min-width: 8ch;
        align-self: center;
        margin: 0 !important;
    }

    .cover-art-wrapper {
        order: 4;
        margin: 1.5rem 0;
    }

    .header-text-subtitle {
        order: 5;
    }

    .header-buttons-wrapper {
        order: 6;
    }
}

@media only screen and (max-width: 544px) {
    .header-text-title {
        margin-top: 5% !important;
    }

    .header-text-subtitle {
        margin-bottom: 10% !important;
    }
}

/* Header Text */
.header-text-title {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    display: inline-block;
    line-height: 1;
    padding: 0 4rem;
}

.header-text-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    font-weight: 300;
}

@media only screen and (max-width: 470px) {
    .header-buttons-wrapper .button {
        font-size: 0.9em;
    }
}

/* Header Buttons */

.header-buttons-wrapper {
    display: flex;
    justify-content: center;

    gap: 1rem;
}

@media only screen and (max-width: 420px) {
    .header-buttons-wrapper {
        align-items: center;
        flex-direction: column;
    }
}

/* About the Cover */
.header-wrapper {
    position: relative;
}

#about-the-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #191B15;

    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    
    
    margin: 0 auto;
    /* display: none; */
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;

    transition: 0.4s all ease;
    z-index: 900;
}

#about-the-cover .text-wrapper {
    /* background-color: blue; */
    max-width: 1000px;
    color: white;
}


#about-the-cover .img-wrapper {
    flex-grow: 1;
    /* background-color: red; */
    content: "";
    width: 100%;

    background-image: url('../../assets/homepage/cover/art-transparentbg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


#about-the-cover .img-wrapper span {
    visibility: hidden;
}

#about-the-cover .button-wrapper {
    /* background-color: blue; */
}

@media only screen and (max-width: 470px) {
    #about-the-cover .text-wrapper {
        font-size: 0.9em;
    }
}

/* Tags */

.tag {
    display: block;
    font-weight: 700;
    padding: .3rem .6rem;
    margin-bottom: .8rem;
    background-color: var(--green);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: white;
    text-transform: uppercase;
    font-size: .75em;
    line-height: 1;
}

