#articles {
    padding: 1.95rem 0;
}

/* Article Grid Parent */
.articles-grid {
    /* CSS Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 1em;
} 

/* Article Grid Item */
.article {
    /* As Grid Parent */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    gap: 1.5em;
}

/************************************************
    Default Styles - >= 992px Width (Desktop) 
*************************************************/

.article-1 {
    /* As a Grid Item */
    grid-column: 1 / 5; /* Full width */

    /* As a Grid Parent */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 1.5em;
    align-items: center;
}

.article-2 {
    grid-column: 1 / 3; /* Left half */
}

.article-3 {
    grid-column: 3 / 5; /* Right half */
}

/* Article Visuals */
.article .visual {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/* Article Details */
.article .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title Links */
.article a {
    color: var(--dark-gray);
    text-decoration: none;
    transition: color .2s ease;
}

.article a:hover {
    color: var(--green);
}

/* Details of Article 1 */
.article-1 .details {
    order: -1; /* Reverse order */
}

.article-1 .title {
    font-size: 2.5em;
}

/* Titles of Articles 4 to 7 */
.article-4 .title,
.article-5 .title,
.article-6 .title,
.article-7 .title {
    font-size: 1.4em;
}

/*******************************
    <= 992px Width (Tablet)
********************************/

@media screen and (max-width: 992px) {
    /* Articles 4 to 7 convert into a 2x2 grid */
    .article-4,
    .article-6 {
        grid-column: 1 / 3; /* Left half */
    }

    .article-5,
    .article-7 {
        grid-column: 3 / 5; /* Right half */
    }

    /* Articles 4 to 7 content become horizontal */
    .article-4,
    .article-5,
    .article-6,
    .article-7 {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    .article-4 .visual,
    .article-5 .visual,
    .article-6 .visual,
    .article-7 .visual {
        width: 5rem;
        height: 5rem;
        aspect-ratio: 1 / 1;
    }

    .article-4 .title,
    .article-5 .title,
    .article-6 .title,
    .article-7 .title {
        font-size: 1.2em;
    }
 

    /* Article 1 text shrinks */
    .article-1 .title {
        font-size: 1.75em;
    }

    .article-1 .excerpt {
        font-size: 0.9em;
    }
}

/********************************
    > 576px but <= 768px Width
    (Between Mobile and Tablet)
*********************************/

@media screen and (min-width: 576px) and (max-width: 768px) {
    /* Visual for Articles 4 to 7 disappear */
    .article-4 .visual-container,
    .article-5 .visual-container,
    .article-6 .visual-container,
    .article-7 .visual-container {
        display: none;
    }
}

/************************************
    <= 768px Width (Between Mobile
    and Tablet, For Article 1)
*************************************/

@media screen and (max-width: 768px) {
    /* Article 1 Content Becomes Vertical */
    .article-1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 1.5em;
        align-items: start;
    }

    .article-1 .details {
        order: 1;
    }
}

/******************************
    <= 576px Width (Mobile) 
*******************************/

@media screen and (max-width: 576px) {
    /* Articles 4 to 7 convert into a 1x4 grid */
    .article-4,
    .article-5,
    .article-6,
    .article-7 {
        grid-column: 1 / 5; /* Full width */
    }

    /* Title for Article 2 to 3 shrink */
    .article-2 .title,
    .article-3 .title {
        font-size: 1.3em;
    }

    /* Excerpt for Article 2 to 3 disappear */
    .article-2 .excerpt,
    .article-3 .excerpt {
        display: none;
    }
}