nav{
    box-shadow: 0 3px 10px #9e9595;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 767px){
    nav .offcanvas {
        padding: 1.5rem;
        width: 100% !important;
    }

    li.nav-item {
        display: flex;
        align-items: center;
        margin: 1em 0 0 0;
        padding: 0.5em 1em 0.5em 1em;
        width: -moz-fit-content;
        width: fit-content;
    }

    a.nav-link {
        font-size: 1.2em;
        font-weight: bold;
    }   
}