.subpage-header {
    background-image: url("../../assets/homepage/cover/cover-bg.png");
    background-size: cover;
    background-position: center;
    padding: 2rem 0 4rem;
    color: white;
    text-align: center;
}

.subpage-header .container {
    padding: 0 1.5em;
}

#back-button {
    width: max-content;
    margin-bottom: 2rem;
}

.subpage-header .title {
    font-weight: normal;
    font-style: italic;
    font-size: 1.75em;
    margin-bottom: .4rem;
}

.subpage-header .subtitle {
    font-size: 2.75em;
    margin-bottom: 1rem;
}

.subpage-header .author-byline {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 2rem;
}

.subpage-header .author-byline > .author {
    font-style: normal;
    font-weight: bold;
}

.subpage-header .description {
    text-align: justify;
    text-align-last: center;
    max-width: 600px;
    font-size: 0.9em;
    margin: 0;
}