#vox-populi {
    margin: 0 auto;
    padding: 2rem 2rem 0;
    max-width: 1000px;
}

/**************
    Buttons
***************/

/* Hide buttons by default */
#vox-populi .btns-container {
    display: none;
}

#vox-populi .vox-btn {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    margin: 1.5rem 0 2.5rem;
    width: 100px;
    background: none;
    transition: 0.2s ease;
    position: relative;
}

#vox-populi .vox-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background-color: #0000001d;
    transition: 0.3s height ease;
}

#vox-populi .vox-btn:hover::before {
    height: 100%;
}

#vox-populi .vox-btn.active {
    background-color: #0000001d;
}

/*****************
    Photo Grid
******************/
#vox-populi .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem;

    margin: 0 auto;
}

#vox-populi .grid-item {
    position: relative;
    overflow: hidden;
}

#vox-populi .photo {
    width: 100%;
}

/* Details i.e. Quote and Byline Wrapper for DESKTOP/TABLET */
#vox-populi .details {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0.00) 100%);
    color: white;

    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(100%);
}

#vox-populi .grid-item:hover > .details {
    transform: translateY(0);
}

#vox-populi .quote {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: .75rem;
}

#vox-populi .byline {
    font-size: 0.7em;
    margin: 0;
}

@media screen and (max-width: 900px) {
    /* Reduce gap between photos */
    #vox-populi .grid-container {
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    #vox-populi {
        max-width: 600px;
    }

    /* Show buttons */
    #vox-populi .btns-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    /* Change grid layout */
    #vox-populi .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns, technically */
    }

    #vox-populi .grid-item {
        grid-column: span 2; /* Each item takes up 2 columns */
    }

    /* Center 3rd photo */
    #vox-populi .grid-item:nth-child(3n) {
        grid-column: 2 / 4;  /* Center columns of the 4-column grid */
        
    }

    /* Details i.e. Quote and Byline Wrapper for MOBILE */
    #vox-populi .details {
        position: relative;
        transform: translateY(0);
        height: auto;

        background: none;
        color: black;
        text-align: center;
    }
}

@media screen and (max-width: 510px) {
    #vox-populi {
        max-width: 350px;
    }
    
    #vox-populi .grid-container {
        grid-template-columns: 1fr;
    }

    #vox-populi .grid-item {
        grid-column: 1 / 2 !important; /* Important overrides 3rd child rule */
    }
}