/*
    This stylesheet contains CSS styles specific to the vox populi page
*/

/* Desktop Photo Grid */

#vox-populi-desktop-grid {
    padding: 0 0 4rem;
}

#vox-populi-desktop-grid .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

#vox-populi-desktop-grid .row {
    max-width: 1000px;
    margin: 0 auto;
}

.ds-photo-wrapper {
    position: relative;
    overflow: hidden;
}


.ds-photo-quote-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;

    opacity: 0;
    background-color: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0.00) 100%);
    color: white;

    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(100%);

    pointer-events: none
}

.ds-photo-wrapper:hover > .ds-photo-quote-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    

    opacity: 1;
    

    transform: translateY(0);
}

.ds-quote {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: .75rem;
}

.ds-byline {
    font-size: 0.7em;
    margin: 0;
}

.ds-photo-img {
    width: 100%;
}

/* Mobile Grid */

#vox-populi-mobile-grid .row {
    margin: 0;
}

#vox-populi-mobile-grid .col {
    max-width: 300px;
    margin: 0 auto;
}

#vox-populi-mobile-grid .mb-photo-img {
    width: 100%;
}

#vox-populi-mobile-grid .mb-photo-quote-wrapper {
    margin-bottom: 5rem;
    text-align: center;
}

#vox-populi-undecided,
#vox-populi-no {
    display: none;
}

.mb-quote {
    margin: 2rem 0 1.5rem;
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
}

.mb-byline {
    font-weight: bold;
    font-size: 0.75em;
}

#mb-vox-populi-button-grp {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#mb-vox-populi-button-grp .vox-custom-button {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    margin: 1.5rem 0 2.5rem;
    width: 100px;
    background: none;
    transition: 0.2s ease;
    position: relative;
}

#mb-vox-populi-button-grp .vox-custom-button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background-color: #0000001d;
    transition: 0.3s height ease;
}

#mb-vox-populi-button-grp .vox-custom-button:hover::before {
    height: 100%;
}

#mb-vox-populi-button-grp .vox-custom-button.active {
    background-color: #0000001d;
}

/* Responsiveness */

#vox-populi-mobile-grid {
    display: none;
}

@media screen and (max-width: 800px) {
    #vox-populi-mobile-grid {
        display: block;
    }

    #vox-populi-desktop-grid {
        display: none;
    }
}

/* Header */

#vox-populi-header {
    background-color: #242424;
    padding: 2rem 0 4rem;
    color: white;
    text-align: center;
}

#vox-populi-header .container {
    padding: 0 1.5em;
}

#back-button {
    width: max-content;
    margin-bottom: 2rem;
}

#vox-populi-header .title {
    font-weight: normal;
    font-style: italic;
    font-size: 1.75em;
    margin-bottom: .4rem;
}

#vox-populi-header .subtitle {
    font-size: 2.25em;
    margin-bottom: 1rem;
}

#vox-populi-header .photographer-byline {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 2rem;
}

#vox-populi-header .photographer-byline > .photographer {
    font-style: normal;
    font-weight: bold;
}

#vox-populi-header .description {
    text-align: justify;
    text-align-last: center;
    max-width: 600px;
    font-size: 0.9em;
    margin: 0;
}

.vox-populi-question {
    text-align: center;
    margin: 3rem 0 0;
    font-weight: normal;
    font-size: 2em;
}