# Auto detect text files and perform LF normalization
* text=auto

# Avoid CSS as the top language
*.css linguist-detectable=false

# Avoid Hack as the top language
php/*.php linguist-detectable=false
