.editor-bg-color {
    background-color: #97979725;
    mix-blend-mode: multiply;
}

.note {
    max-width: 45%;
    text-align: justify;
}

@media only screen and (max-width: 991px) {
    .note {
        max-width: 70%;
    }

    .note p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 767px) {
    .note {
        max-width: 80%;
    }

    .note p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 575px) {
    .note {
        max-width: 90%;
    }

    .note p {
        font-size: 0.8rem;
    }
}