#editors-note {
    background-color: #97979725;
    margin: 0 0 3rem;
}

#editors-note .title {
    margin-bottom: 1rem;
}

#editors-note .description {
    max-width: 35rem;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 0;
}


@media only screen and (max-width: 450px) {
    #editors-note {
        padding: 2rem;
    }

    #editors-note .title {
        margin-bottom: 0.75rem;
    }

    #editors-note .description {
        font-size: 0.85rem;
    }
}