#editors-note {
    background-color: #97979725;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 0 3rem; */
}

#editors-note .title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.5em;
}

#editors-note .description {
    max-width: 60rem;
    /* column-count: 2; */
    column-gap: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editors-note .description p {
    text-align: justify;
    text-align-last: left;
}

.editor-byline {
    align-self: end;
    text-align: right !important;
    margin-top: 1rem;
}

@media only screen and (max-width: 991px) {
    #editors-note {
        padding: 4rem;
    }

}

@media only screen and (max-width: 767px) {
    #editors-note {
        padding: 2.5rem;
    }

    #editors-note .title {
        font-size: 2em;
    }

    #editors-note .description p,
    .editor-byline {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 767px) {
    #editors-note {
        padding: 2.5rem;
    }

    #editors-note .title {
        font-size: 2em;
    }

    #editors-note .description p,
    .editor-byline {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 450px) {
    #editors-note {
        padding: 2rem;
    }

    #editors-note .title {
        margin-bottom: 0.75rem;
        font-size: 1.75em;
    }

    #editors-note .description {
        font-size: 0.85rem;
    }
}