/********************
    Header Wrapper    
*********************/
.header-wrapper {
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/homepage/cover/cover-bg.png');
    background-size: cover;
    background-position: center center;
    color: white;
}

/*************
    Header    
**************/

header {
    width: 100%;
    height: 100vh;

    position: relative;
    
    display: grid;
    grid-template-rows: auto 1fr; /* Art wrapper takes up remaining space */

    transition: opacity .3s;
}

/* Title and Buttons Wrapper */
header .title-btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

/* Title */
header .title {
    margin-bottom: 1.25rem;
    font-size: 3.75rem;
    text-align: center;
    line-height: 1;
}

/* Buttons */
header .btns-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 1rem;
}

header .button {
    /* Buttons on header are smaller and thinner */
    font-size: .75em;
}

/* Art Wrapper */
header .art-wrapper {
    padding-bottom: 2rem;
}

/* Art for Landscape Screens */
header .art-landscape {
    height: 100%;
    background-image: url('../../assets/homepage/cover/cover-art-landscape.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Art for Portrait Screens */
header .art-portrait {
    display: none; /* Hide by default */
}

/* TLS Star */
header .tls-star {
    /* Place star on top left */
    position: absolute;
    top: 2rem;
    left: 2rem;
}

/***********************
    >= 1440px width    
************************/

@media screen and (min-width: 1440px) {
    /* Bigger title and buttons that auto enlarge */
    header .title {
        font-size: 4.5vw;
    }

    header .button {
        font-size: 0.8vw;
    }
}


/***********************
    <= 1204px width    
************************/

@media screen and (max-width: 1204px) {
    /* Remove spacing below art */
    header .art-wrapper {
        padding-bottom: 0;
    }

    /* Art width and height becomes static */
    header .art-landscape {
        background-size: 1204px;
        background-position: center bottom;
    }

    header .art-wrapper {
        height: 620px;
    }

    /* Make title & buttons wrapper take up remaining space */
    header {
        grid-template-rows: 1fr auto;
    }

    header .title-btns-wrapper {
        padding-top: 2rem;
        justify-content: center; /* Vertically align center (Flex direction column) */
    }
}

/*********************
    <= 739px width    
**********************/

@media screen and (max-width: 739px) {
    /* Hide landscape art */
    header .art-landscape {
        display: none;
    }

    /* Make portrait art visible */
    header .art-portrait {
        display: block;
        width: 100%;
    }

    /* Make wrapper take height of art */
    header .art-wrapper {
        height: fit-content;
    }

    header .title-btns-wrapper {
        padding-bottom: 2rem;
    }

    header .title {
        width: 75%;
        min-width: 200px;

        margin: 1.5rem 0 2.5rem;
    }

    /* TLS star goes to top of title */
    header .tls-star {
        position: relative;
        top: 0;
        left: 0;
    }
}

/*********************
    <= 413px width    
**********************/

@media screen and (max-width: 413px) {
    header {
        height: -webkit-fill-available; /* For iOS */
    }
    
    header .btns-wrapper {
        grid-template-columns: 1fr;
        gap: .5rem;
    }

    header .tls-star {
        height: 3rem;
    }

    header .title {
        font-size: 3.5rem;
    }
}

/*********************
    About the Cover    
**********************/

#about-the-cover {
    width: 100%;
    height: 100%;

    /* Place over the header */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Layer above actual header */

    display: grid;
    grid-template-rows: auto 1fr; /* Art wrapper takes up remaining space */

    /* Hidden by default */
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none; /* Disable pointer events */
}

/* Heading and Details */
#about-the-cover .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 0;
}

#about-the-cover .details h2 {
    margin-bottom: 1rem;
    font-size: 2.5em;
    text-align: center;
}

#about-the-cover .details p {
    max-width: 750px;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 1.5rem;
}

#about-the-cover .atc-art-wrapper {
    padding-bottom: 2rem;
    display: grid;
}

/* Hide portrait art */
#about-the-cover .art-portrait {
    display: none;
}

/* Landscape art */
#about-the-cover .art-landscape {
    height: 100%;
    background-image: url('../../assets/homepage/cover/cover-art-landscape.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/******************************
    About the Cover <= 900px   
*******************************/

@media screen and (max-width: 900px) {
    #about-the-cover .atc-art-wrapper {
        padding-bottom: 0;
    }
    
    #about-the-cover .art-landscape {
        background-size: 1000px;
        background-position: bottom center;
    }
    
}

/******************************
    About the Cover <= 700px   
*******************************/

@media screen and (max-width: 700px) {
    /* Text details take up remaining space */
    #about-the-cover {
        grid-template-rows: 1fr auto;
    }

    #about-the-cover .details {
        padding: 0 3rem;
        justify-content: center; /* Vertically align center (Flex direction column) */
    }
    
    /* Hide landscape art */
    #about-the-cover .art-landscape {
        display: none;
    }
    
    /* Show portrait art */
    #about-the-cover .art-portrait {
        display: block;
        width: 100%;
    }
}

/******************************
    About the Cover <= 413px
*******************************/

@media screen and (max-width: 413px) {
    #about-the-cover .details h2 {
        font-size: 1.5em;
    }

    #about-the-cover .details p {
        font-size: .85em;
    }
}