#infographic {
    background-image: url('../../assets/homepage/textured-green-bg.png');
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

#infographic .title {
    color: white;
    max-width: 25rem
}
