#nav-sticky {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.075);
    height: 2.75rem;
    z-index: 90;
}

/* Bootstrap Container */
#nav-sticky .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Menu Button */
#nav-sticky .nav-btn,
#nav-drawer #close-btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

/* Green Logo */
#nav-sticky #green-logo {
    height: 1.25rem;
}

#nav-sticky #green-logo.hidden {
    opacity: 0;
}

/* Offcanvas Navbar */
#nav-drawer {
    position: fixed;
    top: 0;
    left: -15rem;
    opacity: 0;
    background-image: url("../../assets/all-pages/navbar-bg.png");
    background-size: cover;
    background-position: top left;
    width: 22rem;
    height: 100vh;
    min-height: 500px;
    transition: all 0.5s;
    z-index: 100;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 400px) {
    #nav-drawer {
        width: 100vw;
    }
}
    
/* Visible links container (Offcanvas navbar) */
#nav-drawer.active {
    left: 0;
    opacity: 1;
}

/* Hide scrollbar */
#nav-drawer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


#nav-drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-drawer li {
    display: block;
    margin-bottom: 2rem;
}

/* Link Image */
#nav-drawer .link-img {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 7rem;
    object-fit: cover;
    box-shadow: -0.3rem 0.3rem 0 0 rgba(190, 190, 190, 0.2);
    transition: 0.25s all;
}

#nav-drawer .link-txt {
    display: block;
    transition: transform 0.25s;
}

/* Hover effect */
#nav-drawer .nav-anchor:hover .link-img {
    transform: translate(0.25rem, -0.25rem);
    box-shadow: -0.6rem 0.6rem 0 0 rgba(190, 190, 190, 0.2);
}

#nav-drawer .nav-anchor:hover .link-txt {
    transform: translateX(0.25rem);
}

/* White Logo */
#nav-drawer #white-logo {
    display: block;
    margin: 1.5rem 0 3rem;
}

/* Link */

#nav-drawer a {
    color: white;
    text-decoration: none;
    font-family: 'EB Garamond';
    font-weight: bold;
    font-size: 1.15rem;
}

/* Close (X) Button */
#nav-drawer #close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#nav-drawer #close-btn:hover {
    opacity: 1;
}