nav {
    background-color: white;
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.075);
    position: relative;
    transition: all 0.5s;
    
    /* Hidden by default */
    height: 0;
    opacity: 0;
}

/* Visible navbar */
nav.active {
    height: 3.75rem;
    opacity: 1;
}

/* Bootstrap Container */
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Menu Button */
nav .nav-btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

/* Green Logo */
nav #green-logo {
    transition: opacity 0.25s;
}

nav #green-logo.hidden {
    opacity: 0;
}

/* Offcanvas Navbar */
nav #nav-drawer {
    position: absolute;
    top: 0;
    left: -15rem;
    opacity: 0;
    background-image: url("../../assets/all-pages/navbar-bg.png");
    background-size: cover;
    background-position: top left;
    width: 22rem;
    height: 100vh;
    min-height: 500px;
    transition: all 0.5s;
    z-index: 25;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 400px) {
    nav #nav-drawer {
        width: 100vw;
    }
}
    
/* Visible links container (Offcanvas navbar) */
nav #nav-drawer.active {
    left: 0;
    opacity: 1;
}

/* Hide scrollbar */
nav #nav-drawer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    margin-bottom: 2rem;
}

/* Link Image */
nav .link-img {
    display: block;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 7rem;
    object-fit: cover;
    box-shadow: -0.3rem 0.3rem 0 0 rgba(190, 190, 190, 0.2);
}

/* White Logo */
nav #white-logo {
    display: block;
    margin: 1.5rem 0 3rem;
}

/* Link */

nav a {
    color: white;
    text-decoration: none;
    font-family: 'EB Garamond';
    font-weight: bold;
    font-size: 1.15rem;
}

/* Close (X) Button */
nav #close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
}

nav #close-btn:hover {
    opacity: 1;
}