footer {
    background-image: url('../../assets/all-pages/cover-bg.png');
    background-size: cover;
    background-position: bottom;
}

footer .logo {
    position: relative;
}

footer .logo img {
    position: relative;
    z-index: 2;
}

footer .logo::before {
    position: absolute;
    content: "";
    background-color: #7cefd084;
    width: 25rem;
    height: 5rem;
    bottom: -3.5rem;
    left: -3.1rem;    
    z-index: 1;
    mix-blend-mode: overlay;
}

footer .title {
    color: #fff;
    font-family: 'EB Garamond', sans-serif;
    position: relative;
    z-index: 2;
}

footer .btns-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

footer .button {
    width: 12rem;
}

@media only screen and (max-width: 545px) {
    footer .btns-wrapper {
        flex-direction: column;
        gap: 1em;
    }

    footer .button {
        width: max-content;
    }
}

footer .credits {
    color: #fff;
    font-size: 0.65rem;
    text-align: center;
}

footer .link {
    color: #fff;
    font-size: 0.65rem;
    text-decoration: none !important;
}

footer .link:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 767px) {
    div.logo::before{
        width: 22rem;
        height: 5rem;
        left: -1.55rem;
    }
}

@media only screen and (max-width: 575px) {
    div.logo::before {
        width: 21rem;
        height: 5rem;
        left: -1rem;
    }
}
