footer{
    margin: 0;
    padding: 0;
}

div.footer{
    background-image: url('../../assets/all-pages/cover-bg.png');
    background-size: cover;
    background-position: bottom;
}

div.logo{
    position: relative;
}

div.logo img{
    position: relative;
    z-index: 2;
}

div.logo::before{
    position: absolute;
    content: "";
    background-color: #7cefd084;
    width: 25rem;
    height: 5rem;
    bottom: -3.5rem;
    left: -3.1rem;    
    z-index: 1;
    mix-blend-mode: overlay;
}

p.text{
    color: #fff;
    font-family: 'EB Garamond', sans-serif;
    position: relative;
    z-index: 2;
}

.custom-button{
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    border-radius: 0;
    width: 11.1rem;
}

.footer-button-wrapper {
    display: flex;
    gap: 1.5em;
}

@media only screen and (max-width: 340px){
    .footer-button-wrapper {
        flex-direction: column;
        gap: 1em;
    }
}

div.footer p.credits{
    color: #fff;
    font-size: 0.65rem;
    text-align: center;
}

div.footer a.text{
    color: #fff;
    font-size: 0.65rem;
    text-decoration: none !important;
}

@media only screen and (max-width: 767px){
    .custom-button{
        font-size: 0.7rem;
        width: 9.1rem;
    }

    div.logo::before{
        width: 22rem;
        height: 5rem;
        left: -1.55rem;
    }
}

@media only screen and (max-width: 575px){
    .custom-button{
        font-size: 0.6rem;
        width: 8.1rem;
    }

    div.logo::before{
        width: 21rem;
        height: 5rem;
        left: -1rem;
    }
}
